<h3 class="ui header">{{t "forms.i-i-s-kusovya-рез-опрос-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерРез
      class=(if (v-get validationModel "номерРез" "isInvalid") "error")
      label=(t "forms.i-i-s-kusovya-рез-опрос-e.номерРез-caption")
      data-test-i-i-s-kusovya-рез-опрос-e-номерРез=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерРез" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.оценка
      class=(if (v-get validationModel "оценка" "isInvalid") "error")
      label=(t "forms.i-i-s-kusovya-рез-опрос-e.оценка-caption")
      data-test-i-i-s-kusovya-рез-опрос-e-оценка=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "оценка" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kusovya-рез-опрос-e.сотрудник-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудник
      displayAttributeName="имя"
      autocomplete=true
      relationName="сотрудник"
      projection="СотрудникL"
      title=(t "forms.i-i-s-kusovya-рез-опрос-e.сотрудник-caption")
      readonly=readonly
      componentName="сотрудникLookup"
      class=(if (v-get validationModel "сотрудник" "isInvalid") "error")
      data-test-i-i-s-kusovya-рез-опрос-e-сотрудник=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудник" "message")}}
  </div>
</form>
